@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.nav-list{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.logo{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.hero-section{
    background-image: url(../images/hero-image.jpg);
    min-height: 100%;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.742);
}

.hero-text{
    padding-top: 200px;
    padding-left: 200px;
    margin-bottom: 200px;
}

.hero-text-para{
    width: 400px;
    color: white;
}

.main-text{
    font-size: 80px;
    font-family: 'Raleway', sans-serif;

}
.animation{
    margin-left: 500px;
    width: 500px;
}
.nav-select{
    background-color: #58E0BF;
}

.all-heading{
    color:#58E0BF;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    text-decoration: underline;
    font-size: 40px;
}

.parterns{
    width: 150px;
}
