*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("./mycss.css");

$bg : lightgreen;

@mixin cc ($jc, $w, $h) {
    width: $w;
    height: $h;
    display: flex;
    justify-content: $jc;
    align-items: center;
}

.main {
    background: $bg;
    @include cc(center, 100%, 100vh);
    >.pain {
        background: #fff;
        @include cc(center, 300px, 200px);
        >.rain{
            width: 260px;
            height: 160px;
            background: $bg;  
        }
    }
}

.dhaka {
    @extend .main;
    background: #fff;
    >.snav {
        list-style: none;
        display: flex;
        text-align: center;
        >li{
            width: 40px;
            border: 1px solid #000;
            margin: 0 5px;
            border-radius: 50%;
            >a {
                text-decoration: none;
                display: block;
                line-height: 40px;
                color: #000;
            }
            &:hover{
                background: #000;
                >a{
                    color: #fff;
                }
            }
        }
    }
}
