*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin cc {
    display: flex;
    align-items: center;
    justify-content: center;    
}
@mixin ok {
  background: blueviolet;
}

.boss {
    width: 100%;
    height: 100vh;
    @include cc();
>.main {
    width: 40%;
    height: 10vh;
    background: rgb(47, 213, 255);
    border-radius: 100px;
    box-shadow: 0px 15px 30px -15px gray;
    @include cc();
    > .pain{
        @include ok();
        width: 50%;
        height: 11vh;
        border: 1px solid #000;   
        z-index: -1;
        border-radius: 400px;
        background-color: aliceblue;
        position: relative;
        }
        .pain::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50vh;
                background: red;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%); }
        }

    > .icons {
            list-style: none;
            display: flex;
            text-align: center;
          
        
                >li     {
                    width: 60px;
                    background: rgb(160, 107, 9);
                    margin: 0px 5px;

                    border-radius: 20px  ;
                    &:hover{
                        background: none;
                        >a{color: black;
                        font-size: 3em;}
                    }
                                         
                    >a {
                        font-size: 1.5em;
                        text-decoration: none;
                        display: block;
                        line-height: 60px;
                        color:white;
                       
                        animation: sobhan 2s infinite linear;
                        
                        }
                       
                        
                        

                        }
                        @keyframes sobhan {
                            0% {color: rgb(13, 222, 233);}
                            40% { color: white;}
                            100% {color: white;}
                            
                                            }
                        
                    }
                   
                    }
                }
    